<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>WSRobot Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
<div class="page-header">
  <h1>WSRobot Report<!--<small>Subtext for header</small>--></h1>
</div>
<div class="alert alert-success">
	<h4>Success</h4>
	<p>Status : {{status}}</p>
	<p>Success count : {{statusCount}}</p>
	<p>Error count : {{errorCount}}</p>
	<p>Execution time : {{executionTime}} ms</p>
	<p>Exception : {{exception}}</p>
</div>
<h3>Example heading <span class="label label-danger">Failure</span><span class="badge">42 error(s)</span></h3>
{{#scenarioReports}}
<div class="panel" data-scenario-status="{{status}}" data-scenario-success-count="{{successCount}}" data-scenario-error-count="{{errorCount}}" data-scenario-execution-time="{{executionTime}}">
	<div class="panel-heading"><h4>{{#conf}}{{name}}{{/conf}} <span class="label label-success pull-right">Success</span></h4></div>
	<div class="panel-body">
	<p>Status : {{status}}</p>
	<p>Success count : {{successCount}}</p>
	<p>Error count : {{errorCount}}</p>
	<p>Execution time : {{executionTime}} ms</p>
	<p>Exception : {{exception}}</p>
  	</div>
	<div class="table-responsive">
  	<table class="table">
	{{#stepReports}}
	<tr class="danger"><td>
	{{#conf}}
	{{service}}
	{{/conf}}
	{{status}}
	</td></tr>
	{{/stepReports}}
  	</table>
  	</div>
</div>
{{/scenarioReports}}
</div></div></div>
<div id="footer">
	<div class="container">
		<p class="text-muted credit">Generated by <a href="https://github.com/almiris/wsrobot">WSRobot</a></p>
	</div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$("[data-scenario-status='OK']").addClass("panel-success");
		$("[data-scenario-status!='OK']").addClass("panel-danger");
	});
	</script>
  </body>
</html>
