<!DOCTYPE html>
<html lang="fr">
<head>
<title>{{#conf}}{{name}}{{/conf}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1>
						{{#conf}}{{name}}{{/conf}}
						<small id="endTime">{{endTime}}</small>
						<span data-status="{{status}}" data-echo-status="{{status}}" class="label pull-right"></span>
					</h1>
				</div>
				<div class="alert" data-status="{{status}}">
					<h4 data-echo-status="{{status}}"></h4>
					<p>Executed in {{executionTime}} ms</p>
					<p>Successful <span class="badge">{{successCount}}</span> Failed <span class="badge">{{errorCount}}</span></p>
					{{#exception}}<p><span class="label label-danger">Exception</span> {{.}}</p>{{/exception}}
				</div>
				{{#scenarioReports}}
				<div class="panel" data-status="{{status}}">
					<div class="panel-heading">
						<h4>
							<a href="#" class="collapseTrigger" data-trigger-state="show" data-div-is-showing="false" data-table-is-showing="false"><span class="glyphicon glyphicon-chevron-right">&nbsp;</span></a>
							{{#conf}}{{name}}{{/conf}}
							<span data-status="{{status}}" data-echo-status="{{status}}" class="label pull-right"></span>
						</h4>
					</div>
					<div class="panel-body collapse">
						<p>Executed in {{executionTime}} ms</p>
						<p>Successful <span class="badge">{{successCount}}</span> Failed <span class="badge">{{errorCount}}</span></p>
						{{#exception}}<p><span class="label label-danger">Exception</span> {{.}}</p>{{/exception}}
					</div>
						<table class="table collapse">
							<thead>
							<tr>
								<th width="20%">Step</th>
								<th>Status [Expected]</th>
								<th>Info</th>
							</tr>
							</thead>
							<tbody>
							{{#stepReports}}
							<tr data-status="{{status}}">
								<td><strong>{{#service}}{{name}}{{/service}}</strong></td>
								<td><strong>{{actualStatus}}</strong> [{{#conf}}{{status}}{{/conf}}]</td>
								<td>								
								{{#conf}}{{#description}}<p><span class="label label-info">Description</span> {{.}}</p>{{/description}}{{/conf}}
								<p><span class="label label-info">Duration</span> {{executionTime}} ms</p>
								<p><span class="label label-info toUpperCase">{{#service}}{{method}}{{/service}}</span> {{fullURL}}</p>
								{{#headers}}<p><span class="label label-info">Headers</span> {{.}}</p>{{/headers}}
								{{#data}}<p><span class="label label-info">Data</span> {{.}}</p>{{/data}}
								{{#actualContent}}<p><span class="label label-info">Content</span> {{.}}</p>{{/actualContent}}
								{{#failedControl}}<p><span class="label label-danger">Failed control</span> {{.}}</p>{{/failedControl}}
								{{#failedControl}}<p><span class="label label-danger">Expected</span> {{failedControlExpectedValue}}</p>{{/failedControl}}
								{{#failedControl}}<p><span class="label label-danger">Actual</span> {{failedControlActualValue}}</p>{{/failedControl}}
								{{#resultNotFound}}<p><span class="label label-danger">Result not found</span> {{.}}</p>{{/resultNotFound}}
								{{#properties}}<p><span class="label label-info">Properties</span> {{.}}</p>{{/properties}}
								</td>
							</tr>
							{{/stepReports}}
							</tbody>
						</table>
				</div>
				{{/scenarioReports}}
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="container">
			<p class="text-muted credit">
				Generated by <a href="https://github.com/almiris/wsrobot">WSRobot</a>
			</p>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$("[data-status='OK'].label").addClass("label-success");
			$("[data-status].label").not("[data-status='OK']").addClass("label-danger");
			$("[data-status='OK'].alert").addClass("alert-success");
			$("[data-status].alert").not("[data-status='OK']").addClass("alert-danger");
			$("[data-status='OK'].panel").addClass("panel-success");
			$("[data-status].panel").not("[data-status='OK']").addClass("panel-danger");
			$("[data-echo-status='OK']").html("Success");
			$("[data-echo-status]").not("[data-echo-status='OK']").html("Failure");
			$("#endTime").html(new Date(Number($("#endTime").html())).toLocaleString());
			$("tr[data-status='OK']").addClass("success");
			$("tr[data-status]").not("[data-status='OK']").addClass("danger");
			$(".toUpperCase").each(function(){$(this).html($(this).html().toUpperCase())});
			$(".collapseTrigger").on("click", function() {
				if ($(this).attr("data-div-is-showing") == "false" && $(this).attr("data-table-is-showing") == "false") {
					var show = $(this).attr("data-trigger-state") == "show";
					$(this).attr("data-div-is-showing", "true");
					$(this).attr("data-table-is-showing", "true");
					$(this).closest(".panel").find(show ? ".collapse" : ".in").collapse(show ? "show" : "hide");
					$(this).attr("data-trigger-state", show ? "hide" : "show");
					$(this).find("span").removeClass(show ? "glyphicon-chevron-right" : "glyphicon-chevron-down");
					$(this).find("span").addClass(show ? "glyphicon-chevron-down" : "glyphicon-chevron-right");
				}
			});
			$("div.collapse").on("shown.bs.collapse", function() {
				$(this).closest(".panel").find(".collapseTrigger").attr("data-div-is-showing", "false");
			});
			$("table.collapse").on("shown.bs.collapse", function() {
				$(this).closest(".panel").find(".collapseTrigger").attr("data-table-is-showing", "false");
			});
			$("div.collapse").on("hidden.bs.collapse", function() {
				$(this).closest(".panel").find(".collapseTrigger").attr("data-div-is-showing", "false");
			});
			$("table.collapse").on("hidden.bs.collapse", function() {
				$(this).closest(".panel").find(".collapseTrigger").attr("data-table-is-showing", "false");
			});
		});
	</script>
</body>
</html>
